<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>About-Us</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Pages</a> <i class="fa fa-angle-right"></i></li>
                                <li>About-Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- aboutus_section start-->
<div class="aboutus_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2>how we <span>do it ?</span></h2>
                    </div>
                    <p>Proin gravida nibh vel velit auctor aliquet. aks Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.consequat ipsum, nec sagittis sem nibh id elit.Donec vestibulum justo a diam ultricies. pel
                        lentesque. Quisque mattis diam vel.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever sincer they 1500s, when an unknown printer took and galley of type and scrambled. nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                    <ul>
                        <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">We sell all over the world.</a>
                        </li>
                        <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Satisfaction or money refund guaranteed.</a>
                        </li>
                        <li><i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Lifetime updates & support.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_image_wrapper">
                    <img class="img-responsive" src="assets/images/content/register_bg.jpg" alt="about-img">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="about_text_wrapper abt_2_para">
                    <div class="section_heading section_2_heading">
                        <h2>why we<span> do it ?</span></h2>
                    </div>
                    <p>Proin gravida nibh vel velit auctor aliquet. aks Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem.consequat ipsum,rmentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit sum, nec
                        sagittis sem.consequat ipsum,rmentum nunc. Etiam pharetra, mauris egestas quam, ut aliquam massa nisl quis neque. Suspendissenec sagittis sem.conse nec sagittis sem nibh id elit.Donec vesquat ipsum, nec sa tibulum justo a diam
                        ultricies. pel lentesque. Quisque mattis diam vel.</p>
                    <p>Lorem Ipsum has been the industry's standard dummy text ever sincer they 1500s, when an unknown printer took and galley onsequat ipsum, orbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris
                        vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad a diam ultricie of type and scrambled. nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp best deal Wrapper Start -->
<div class="jp_best_deal_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_best_deal_heading_wrapper">
                    <div class="jp_best_deal_heading">
                        <h4>Offering the best Deals</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-magnifying-glass"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Search a Jobs</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-users"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Apply a Job</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Job Security</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-notification"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Job Notifications</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-wallet"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Essay Pay Money</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-people"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Happy Support</a></h4>
                        <p>Proin gravida nibh Aenean sollicitudin...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp best deal Wrapper End -->
<!-- jp career Wrapper Start -->
<div class="jp_career_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_hiring_slider_main_wrapper">
                    <div class="jp_career_slider_heading_wrapper">
                        <h2>Career advice</h2>
                    </div>
                    <div class="jp_career_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="assets/images/content/car_img1.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                        <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                    </div>
                                </div>
                                <div class="jp_career_slider_bottom_cont">
                                    <ul>
                                        <li><img src="assets/images/content/blog_small_img.jpg" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                    </ul>
                                    <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                </div>
                            </div>
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="assets/images/content/car_img2.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                        <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                    </div>
                                </div>
                                <div class="jp_career_slider_bottom_cont">
                                    <ul>
                                        <li><img src="assets/images/content/blog_small_img.jpg" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                    </ul>
                                    <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                </div>
                            </div>
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="assets/images/content/car_img3.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <p><i class="fa fa-calendar"></i>&nbsp;&nbsp; <a href="#">20 OCT, 2017</a></p>
                                        <h3><a href="#">Hey Seeker, It’s Time</a></h3>
                                        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.</p>
                                    </div>
                                </div>
                                <div class="jp_career_slider_bottom_cont">
                                    <ul>
                                        <li><img src="assets/images/content/blog_small_img.jpg" alt="small_img" class="img-circle">&nbsp;&nbsp; <a href="#">Jhon Doe</a></li>
                                    </ul>
                                    <p><a href="#"><i class="fa fa-comments"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp career Wrapper End -->
<!-- jp counter Wrapper Start -->
<div class="jp_counter_main_wrapper">
    <div class="gc_counter_cont_wrapper">
        <div class="count-description">
            <span class="timer">2540</span><i class="fa fa-plus"></i>
            <h5 class="con1">Jobs Available</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper2">
        <div class="count-description">
            <span class="timer">7325</span><i class="fa fa-plus"></i>
            <h5 class="con2">Members</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper3">
        <div class="count-description">
            <span class="timer">1924</span><i class="fa fa-plus"></i>
            <h5 class="con3">Resumes</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper4">
        <div class="count-description">
            <span class="timer">4275</span><i class="fa fa-plus"></i>
            <h5 class="con4">Company</h5>
        </div>
    </div>
</div>
<!-- jp counter Wrapper End -->
<!-- aboutus_section end -->
<div class="aboutus_page_2_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="aboutus_text_section abt_txt_page_2">
                    <h2>Who We <span>Are</span></h2>
                    <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. iat nulla pariatur. Excepteur sint occaecat cupidatat non proluptate velit esse cillum dolore euur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Audit &amp; Assurance</li>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Services</li>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;IT Control Solutions</li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Audit &amp; Assurance</li>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Services</li>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;IT Control Solutions</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="accordion_wrapper abt_page_2_wrapper">
                    <div class="panel-group" id="accordion_threeLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading desktop">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftone" aria-expanded="true">
                              Our Visions and Missions
                          </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyLeftone" class="panel-collapse collapse" aria-expanded="true" role="tablist">
                                <div class="panel-body">
                                    Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading horn">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftTwo" aria-expanded="false">
                             Our Corporate Responsibility
                          </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyLeftTwo" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading bell">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
                            Visual Page Builder
                          </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                    </div>
                    <!--end of /.panel-group-->
                </div>
            </div>
            <!--end of /.col-sm-6-->
        </div>
    </div>
</div>
<!--end of /.col-sm-6-->
<!-- jp downlord Wrapper Start -->
<div class="jp_downlord_main_wrapper">
    <div class="jp_downlord_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <div class="jp_down_mob_img_wrapper">
                    <img src="assets/images/content/mobail.png" alt="mobail_img" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ss_download_wrapper_details">
                    <h1><span>Download</span><br>Job Portal App Now!</h1>
                    <p>Fast, Simple & Delightful. All it takes is 30 seconds to Download.</p>
                    <a href="#" class="ss_appstore"><span><i class="fa fa-apple" aria-hidden="true"></i></span> App Store</a>
                    <a href="#" class="ss_playstore"><span><i class="fa fa-android" aria-hidden="true"></i></span> Play Store</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-sm visible-xs">
                <div class="jp_down_mob_img_wrapper">
                    <img src="assets/images/content/mobail.png" class="img-responsive" alt="mobail_img" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp downlord Wrapper End -->
<!-- jp Newsletter Wrapper Start -->
<div class="jp_main_footer_img_wrapper">
    <div class="jp_newsletter_img_overlay_wrapper"></div>
    <div class="jp_newsletter_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="jp_newsletter_text">
                        <img src="assets/images/content/news_logo.png" class="img-responsive" alt="news_logo" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="jp_newsletter_field">
                        <i class="fa fa-envelope-o"></i><input type="text" placeholder="Enter Your Email"><button type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Newsletter Wrapper End -->
    <!-- jp footer Wrapper Start -->
    <div class="jp_footer_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_footer_logo_wrapper">
                        <div class="jp_footer_logo">
                            <a href="#"><img src="assets/images/content/resume_logo.png" alt="footer_logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="jp_footer_three_sec_main_wrapper">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_first_cont_wrapper">
                            <div class="jp_footer_first_cont">
                                <h2>Who We Are</h2>
                                <p>This is Photoshop's version of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.<br><br> Proin akshay handge vel velit auctor aliquet. Aenean sollicitudin,</p>
                                <ul>
                                    <li><i class="fa fa-plus-circle"></i> <a href="#">READ MORE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper2">
                            <div class="jp_footer_candidate">
                                <h2>For candidate</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Add a Resume</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> candidate Dashboard</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Past Applications</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Alerts</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Bookmarks</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> My Account</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Your Jobs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper3">
                            <div class="jp_footer_candidate">
                                <h2>For Employers</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Browse candidates</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Employer Dashboard</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Add Job</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Page</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Packages</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Work Process</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper4">
                            <div class="jp_footer_candidate">
                                <h2>Information</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Terms & Conditions</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy Policy</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Careers with Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Sitemap</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Contact Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_bottom_footer_Wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_bottom_footer_left_cont">
                                    <p>© 2019-20 Job Pro. All Rights Reserved.</p>
                                </div>
                                <div class="jp_bottom_top_scrollbar_wrapper">
                                    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_bottom_footer_right_cont">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="hidden-xs"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="hidden-xs"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>