<!-- Header Wrapper End -->
<!-- Header Wrapper End -->
<div class="jp_bottom_footer_Wrapper_header_img_wrapper">
    <div class="jp_slide_img_overlay"></div>
    <div class="jp_banner_heading_cont_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_job_heading_wrapper">
                        <div class="jp_job_heading">
                            <h1><span>3,000+</span> Browse Jobs</h1>
                            <p>Find Jobs, Employment & Career Opportunities</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_header_form_wrapper">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <input type="text" placeholder="Keyword e.g. (Job Title, Description, Tags)">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="jp_form_location_wrapper">
                                <i class="fa fa-dot-circle-o first_icon"></i><select>
								<option>Select Location</option>
								<option>Select Location</option>
								<option>Select Location</option>
								<option>Select Location</option>
								<option>Select Location</option>
							</select><i class="fa fa-angle-down second_icon"></i>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                            <div class="jp_form_exper_wrapper">
                                <i class="fa fa-dot-circle-o first_icon"></i><select>
								<option>Experience</option>
								<option>Experience</option>
								<option>Experience</option>
								<option>Experience</option>
								<option>Experience</option>
							</select><i class="fa fa-angle-down second_icon"></i>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                            <div class="jp_form_btn_wrapper">
                                <ul>
                                    <li><a href="#"><i class="fa fa-search"></i> Search</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_banner_main_jobs_wrapper">
                        <div class="jp_banner_main_jobs">
                            <ul>
                                <li><i class="fa fa-tags"></i> Trending Keywords :</li>
                                <li><a href="#">ui designer,</a></li>
                                <li><a href="#">developer,</a></li>
                                <li><a href="#">senior</a></li>
                                <li><a href="#">it company,</a></li>
                                <li><a href="#">design,</a></li>
                                <li><a href="#">call center</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header W rapper End -->
<!-- jp listing sidebar Wrapper Start -->
<div class="jp_listing_sidebar_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_rightside_job_categories_wrapper">
                            <div class="jp_rightside_job_categories_heading">
                                <h4>Jobs by Category</h4>
                            </div>
                            <div class="jp_rightside_job_categories_content">
                                <div class="handyman_sec1_wrapper">
                                    <div class="content">
                                        <div class="box">
                                            <p>
                                                <input type="checkbox" id="c1" name="cb">
                                                <label for="c1">Graphic Designer <span>(214)</span></label>

                                                <p>
                                                    <input type="checkbox" id="c2" name="cb">
                                                    <label for="c2">Engineering Jobs <span>(514)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c3" name="cb">
                                                    <label for="c3">Mainframe Jobs <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c4" name="cb">
                                                    <label for="c4">Legal Jobs <span>(457)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c5" name="cb">
                                                    <label for="c5">IT Jobs <span>(1254)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c6" name="cb">
                                                    <label for="c6">R&D Jobs <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c7" name="cb">
                                                    <label for="c7">Government Jobs <span>(350)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c8" name="cb">
                                                    <label for="c8">PSU Jobs <span>(221)</span></label>
                                                </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                            <div class="jp_rightside_job_categories_heading">
                                <h4>Jobs by Location</h4>
                            </div>
                            <div class="jp_rightside_job_categories_content">
                                <div class="handyman_sec1_wrapper">
                                    <div class="content">
                                        <div class="box">
                                            <p>
                                                <input type="checkbox" id="c9" name="cb">
                                                <label for="c9">Jobs in Delhi  <span>(214)</span></label>

                                                <p>
                                                    <input type="checkbox" id="c10" name="cb">
                                                    <label for="c10">Jobs in Mumbai <span>(514)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c11" name="cb">
                                                    <label for="c11">Jobs in Chennai <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c12" name="cb">
                                                    <label for="c12">Jobs in Gurgaon <span>(457)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c13" name="cb">
                                                    <label for="c13">Jobs in Noida  <span>(1254)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c14" name="cb">
                                                    <label for="c14">Jobs in Kolkata <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c15" name="cb">
                                                    <label for="c15">Jobs in Hyderabad <span>(350)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c16" name="cb">
                                                    <label for="c16">Jobs in Pune <span>(221)</span></label>
                                                </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_add_resume_wrapper jp_job_location_wrapper">
                            <div class="jp_add_resume_img_overlay"></div>
                            <div class="jp_add_resume_cont">
                                <img src="assets/images/content/resume_logo.png" alt="logo" />
                                <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 jp_cl_right_bar">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img1.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Akshay Handge</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a>UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img2.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Ajay Suryavanshi</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img3.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Merry Foster</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img4.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Dashrath Singh</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img5.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Farhan Shaikh</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img1.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Akshay Handge</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img2.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Ajay Suryavanshi</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a routerLink='/header/candidates-details'>View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_recent_resume_box_wrapper">
                            <div class="jp_recent_resume_img_wrapper">
                                <img src="assets/images/content/resume_img3.jpg" alt="resume_img" />
                            </div>
                            <div class="jp_recent_resume_cont_wrapper">
                                <h3>Merry Foster</h3>
                                <p><i class="fa fa-folder-open-o"></i> <a href="#">UI Designer</a></p>
                            </div>
                            <div class="jp_recent_resume_btn_wrapper">
                                <ul>
                                    <li><a href="#">View Profile</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_adp_choose_resume_bottom_btn_post jp_adp_choose_resume_bottom_btn_post2">
                            <ul>
                                <li><a href="#">View More</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-sm visible-xs">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_rightside_job_categories_wrapper">
                            <div class="jp_rightside_job_categories_heading">
                                <h4>Jobs by Category</h4>
                            </div>
                            <div class="jp_rightside_job_categories_content">
                                <div class="handyman_sec1_wrapper">
                                    <div class="content">
                                        <div class="box">
                                            <p>
                                                <input type="checkbox" id="c101" name="cb">
                                                <label for="c101">Graphic Designer <span>(214)</span></label>

                                                <p>
                                                    <input type="checkbox" id="c102" name="cb">
                                                    <label for="c102">Engineering Jobs <span>(514)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c103" name="cb">
                                                    <label for="c103">Mainframe Jobs <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c104" name="cb">
                                                    <label for="c104">Legal Jobs <span>(457)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c105" name="cb">
                                                    <label for="c105">IT Jobs <span>(1254)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c106" name="cb">
                                                    <label for="c106">R&D Jobs <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c107" name="cb">
                                                    <label for="c107">Government Jobs <span>(350)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c108" name="cb">
                                                    <label for="c108">PSU Jobs <span>(221)</span></label>
                                                </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_rightside_job_categories_wrapper jp_job_location_wrapper">
                            <div class="jp_rightside_job_categories_heading">
                                <h4>Jobs by Location</h4>
                            </div>
                            <div class="jp_rightside_job_categories_content">
                                <div class="handyman_sec1_wrapper">
                                    <div class="content">
                                        <div class="box">
                                            <p>
                                                <input type="checkbox" id="c109" name="cb">
                                                <label for="c109">Jobs in Delhi  <span>(214)</span></label>

                                                <p>
                                                    <input type="checkbox" id="c110" name="cb">
                                                    <label for="c110">Jobs in Mumbai <span>(514)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c111" name="cb">
                                                    <label for="c111">Jobs in Chennai <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c112" name="cb">
                                                    <label for="c112">Jobs in Gurgaon <span>(457)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c113" name="cb">
                                                    <label for="c113">Jobs in Noida  <span>(1254)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c114" name="cb">
                                                    <label for="c114">Jobs in Kolkata <span>(554)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c115" name="cb">
                                                    <label for="c115">Jobs in Hyderabad <span>(350)</span></label>
                                                </p>
                                                <p>
                                                    <input type="checkbox" id="c116" name="cb">
                                                    <label for="c116">Jobs in Pune <span>(221)</span></label>
                                                </p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li><i class="fa fa-plus-circle"></i> <a href="#">SHOW MORE</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="jp_add_resume_wrapper jp_job_location_wrapper">
                            <div class="jp_add_resume_img_overlay"></div>
                            <div class="jp_add_resume_cont">
                                <img src="assets/images/content/resume_logo.png" alt="logo" />
                                <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                                <ul>
                                    <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 visible-sm visible-xs">
                        <div class="pager_wrapper gc_blog_pagination">
                            <ul class="pagination">
                                <li><a href="#">Priv.</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li class="hidden-xs"><a href="#">4</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp listing sidebar Wrapper End -->
<!-- jp downlord Wrapper Start -->
<div class="jp_downlord_main_wrapper">
    <div class="jp_downlord_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-sm hidden-xs">
                <div class="jp_down_mob_img_wrapper">
                    <img src="assets/images/content/mobail.png" alt="mobail_img" />
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ss_download_wrapper_details">
                    <h1><span>Download</span><br>Job Portal App Now!</h1>
                    <p>Fast, Simple & Delightful. All it takes is 30 seconds to Download.</p>
                    <a href="#" class="ss_appstore"><span><i class="fa fa-apple" aria-hidden="true"></i></span> App Store</a>
                    <a href="#" class="ss_playstore"><span><i class="fa fa-android" aria-hidden="true"></i></span> Play Store</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 visible-sm visible-xs">
                <div class="jp_down_mob_img_wrapper">
                    <img src="assets/images/content/mobail.png" class="img-responsive" alt="mobail_img" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp downlord Wrapper End -->
<!-- jp Newsletter Wrapper Start -->
<div class="jp_main_footer_img_wrapper">
    <div class="jp_newsletter_img_overlay_wrapper"></div>
    <div class="jp_newsletter_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="jp_newsletter_text">
                        <img src="assets/images/content/news_logo.png" class="img-responsive" alt="news_logo" />
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="jp_newsletter_field">
                        <i class="fa fa-envelope-o"></i><input type="text" placeholder="Enter Your Email"><button type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- jp Newsletter Wrapper End -->
    <!-- jp footer Wrapper Start -->
    <div class="jp_footer_main_wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_footer_logo_wrapper">
                        <div class="jp_footer_logo">
                            <a href="#"><img src="assets/images/content/resume_logo.png" alt="footer_logo" /></a>
                        </div>
                    </div>
                </div>
                <div class="jp_footer_three_sec_main_wrapper">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_first_cont_wrapper">
                            <div class="jp_footer_first_cont">
                                <h2>Who We Are</h2>
                                <p>This is Photoshop's version of Lom Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum.<br><br> Proin akshay handge vel velit auctor aliquet. Aenean sollicitudin,</p>
                                <ul>
                                    <li><i class="fa fa-plus-circle"></i> <a href="#">READ MORE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper2">
                            <div class="jp_footer_candidate">
                                <h2>For candidate</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Add a Resume</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> candidate Dashboard</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Past Applications</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Alerts</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Bookmarks</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> My Account</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Your Jobs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper3">
                            <div class="jp_footer_candidate">
                                <h2>For Employers</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Browse candidates</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Employer Dashboard</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Add Job</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Page</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Job Packages</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Work Process</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> My Account</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="jp_footer_candidate_wrapper jp_footer_candidate_wrapper4">
                            <div class="jp_footer_candidate">
                                <h2>Information</h2>
                                <ul>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> About Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Terms & Conditions</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Privacy Policy</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Careers with Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Sitemap</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Contact Us</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="jp_bottom_footer_Wrapper">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_bottom_footer_left_cont">
                                    <p>© 2019-20 Job Pro. All Rights Reserved.</p>
                                </div>
                                <div class="jp_bottom_top_scrollbar_wrapper">
                                    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up"></i></a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="jp_bottom_footer_right_cont">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li class="hidden-xs"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li class="hidden-xs"><a href="#"><i class="fa fa-vimeo"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp footer Wrapper End -->
<!-- chat box Wrapper start -->
<div id="chat-circle" class="btn btn-raised">
    <i class="fa fa-envelope"></i>
</div>
<div class="chat-box">
    <div class="chat-box-header">
        ChatBot
        <span class="chat-box-toggle"><i class="fa fa-times"></i></span>
    </div>
    <div class="chat-box-body">
        <div class="chat-box-overlay">
        </div>
        <div class="chat-logs">

        </div>
        <!--chat-log -->
    </div>
    <div class="chat-input">
        <form>
            <input type="text" id="chat-input" placeholder="Send a message..." />
            <button type="submit" class="chat-submit" id="chat-submit"><i class="fa fa-paper-plane" ></i></button>
        </form>
    </div>
</div>
<!-- chat box Wrapper end -->
<!--main js file start-->

<!--main js file end-->