<div class="jp_recent_job_main_wrapper">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="cc_featured_product_main_wrapper">
					<div class="jp_hiring_heading_wrapper jp_job_post_heading_wrapper">
						<h2>Recent Jobs</h2>
					</div>
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active"><a href="#best" aria-controls="best" role="tab"
								data-toggle="tab">Featured</a>
						</li>
						<li role="presentation"><a href="#hot" aria-controls="hot" role="tab" data-toggle="tab"
								(click)="fullTime()">Remotely</a>
						</li>
						<li role="presentation"><a href="#trand" aria-controls="trand" role="tab" data-toggle="tab"
								(click)="fullTime()">Part Time</a>
						</li>
						<li role="presentation"><a href="#best" aria-controls="best" role="tab" data-toggle="tab"
								(click)="fullTime()">Full Time </a>
						</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>
