<div class="jp_counter_main_wrapper">
	<div class="gc_counter_cont_wrapper">
		<div class="count-description">
			<span class="timer">2540</span><i class="fa fa-plus"></i>
			<h5 class="con1">Jobs Available</h5>
		</div>
	</div>
	<div class="gc_counter_cont_wrapper2">
		<div class="count-description">
			<span class="timer">7325</span><i class="fa fa-plus"></i>
			<h5 class="con2">Members</h5>
		</div>
	</div>
	<div class="gc_counter_cont_wrapper3">
		<div class="count-description">
			<span class="timer">1924</span><i class="fa fa-plus"></i>
			<h5 class="con3">Resumes</h5>
		</div>
	</div>
	<div class="gc_counter_cont_wrapper4">
		<div class="count-description">
			<span class="timer">4275</span><i class="fa fa-plus"></i>
			<h5 class="con4">Company</h5>
		</div>
	</div>
</div>
<!-- jp counter Wrapper End -->
